/* common css start */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.row{
    display: flex;
    padding-bottom: 150px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
p{
    color:gray;
}
a{
    background: linear-gradient(orange,tomato);
    text-decoration: none;
    font-weight: 400;
    padding: 8px 30px;
    color:#fff;
    border-radius: 5px;
}
/* common css end */
#top-banner{
    background-image: url(../image/top-banner.png);
    background-repeat: no-repeat;

}
.half_width{
    width:40%;
    margin-left: 5%;
    padding-left: 2%;
}
#top-banner .half_width h1 span{
    color:orange;
}
.half_width img{
    width:100%;

}
#dream-big{
    background-image: url(../image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
#experience_area{
    background-image: url(../image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#experience_area .half_width{
    box-shadow: 5px 5px 40px gray;
    padding: 40px 20px;
    border-radius: 20px;
}
#experience_area .half_width.half_width{
    border-left: 8px solid tomato;
}
#experience_area .half_width.baby-web{
    border-left: 8px solid blue;
}
#experience_area h3{
    color:orange;
}